.opacity1 {
    opacity: 1 !important;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #f36433, #f53b2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.header__navbar-list {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    position: relative;
    padding: 0 8px;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover .header__navbar-item-content,
.header__navbar-icon:hover,
.header__navbar-icon-link-has-hover:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header__navbar-item-qr:hover > .header__qr {
    display: block;
}

.header__navbar-item--seperate {
    display: inline-block;
    border-right: 2px solid hsla(0,0%,100%,.4);
    height: 2rem;
    transform: translateY(20%);
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item-user {
    display: flex;
    justify-items: center;
    position: relative;
    cursor: pointer;
}
 
.header__navbar-item-user:hover .header__navbar-item-user-menu {
    display: block;
}

.header__navbar-item-user-name {
    margin-left: 8px;
    font-size: 1.6rem;
}

.header__navbar-item-user-img {
    margin-top: -2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
}

.header__navbar-item-user-menu {
    display: none;
    position: absolute;
    z-index: 1;
    list-style-type: none;
    background-color: var(--white-color);
    top: 100%;
    right: 8px;
    border-radius: 2px;
    width: 160px;
    padding-left: 0;
    box-shadow: 0 4px 4px #ccc;
    animation: fadeIn ease-in 0.3s;
}

.header__navbar-item-user-menu:before {
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 20px;
    top: -20px;
}

.header__navbar-item-user-menu-list--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.header__navbar-item-user-menu-list a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}

.header__navbar-item-user-menu-list a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-item-user-menu-list a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-item-user-menu-list a:hover {
    background-color: #fafafa;
    color: #00bfa5;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0 4px;
}

.header__navbar-icon-link:nth-child(1) {
    margin-right: 0;
}

/* Header QR code */

.header__qr {
    width: 180px;
    background: var(--white-color);
    position: absolute;
    left: 8;
    top: 100%;
    padding: 4px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.header__qr-img {
    width: 100%;
}

.header__qr-download-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 10px;
}

.header__qr-link:nth-child(2) {
    margin-right: 10px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header notification */
.header__noti {
    display: none;
    position: absolute;
    z-index: 1;
    width: 404px;
    background-color: var(--white-color);
    top: 100%;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    transform-origin: 95% top;
    animation: headerNoti ease-in 0.3s;
    will-change: opacity, transform;
}

.header__noti::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top:-28px;
}

.header__navbar-item:hover > .header__noti {
    display: block;
}

@keyframes headerNoti {
    from {
        transform: scale(0);
        opacity: 0;
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__noti-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__noti-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
}

.header__noti-list {
    padding-left: 0;;
}

.header__noti-item {

}

.header__noti-item--newNoti {
    background-color: rgba(238, 77, 45, 0.1);
}

.header__noti-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__noti-link:hover {
    background-color: #f7f7f7;
}

.header__noti-img {
    width: 46px;

}

.header__noti-info {
    margin-left: 12px;
}

.header__noti-name {
    display: block;
    color: #000;
    margin-bottom: 8px;
    font-weight: 400;
}

.header__noti-description {
    display: block;
    font-size: 1.4rem;
    color: #756f6e;
}

.header__noti-footer {
    margin: 8px 0;
    text-align: center;
}

.header__noti-footer-btn {
    text-decoration: none;
    padding: 4px 16px;
    color: var(--text-color);
}

/* Modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    margin: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__swtich-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
    
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 24px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    /* line-height: 36px; */
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--fb {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--fb
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-text {
    margin: 0 36px;
}

.auth-form__socials--gg {
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-seperate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 22px;
    margin: -4px 16px 0 16px;
}

.auth-form__help-forget {
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height: calc(var(--header-height) - var(--navbar-height));
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    padding: 0 12px;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.5rem;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-notification {
    position: absolute;
    top: -10px;
    right: -4px;
    background-color: var(--white-color);
    padding: 0 8px;
    color: var(--primary-color);
    font-size: 1.3rem;
    line-height: 1.3;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}

.header__cart-list {
    display: none;
    cursor: default;
    position: absolute;
    top: calc(100% + 8px);
    right: 2px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    transform-origin: 95% top;
    animation: headerNoti ease-in 0.3s;
    will-change: opacity, transform;
    z-index: 1;
}

.header__cart-list::after {
    cursor: pointer;
    content: '';
    position: absolute;
    right: 2px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img {
    width: 70%;
    display: none;
}

.header__cart-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style-type: none;
    max-height: 27vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 44px;
    height: 44px;
    margin: 0 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-heading {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-name {
    flex: 1;
    margin: 0;
    padding-right: 16px;
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    /* Xu ly title bi dai */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 400;
    text-align: start;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    color: #757575;
    font-size: 1.1rem;
    margin: 0 4px;
}

.header__cart-item-quantity {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.3rem;
    /* font-weight: 300; */
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #f05d41;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.header__search-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #8f8f8f;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-select:hover > .header__search-option {
    display: block;
}

.header__search-option {
    display: none;
    position: absolute;
    right: 0;
    top: calc(130% - 1px);
    width: 130px;
    padding: 0;
    box-shadow: 0 4px 4px #ccc;
    border-radius: 4px;
    animation: fadeIn linear 0.2s;
    z-index: 1;
}

.header__search-option::before {
    content: "";
    display: block;
    width: 100%;
    height: 35px;
    position: absolute;
    top: -25px;
}

.header__search-option-items {
    background-color: var(--white-color);
    padding: 8px 8px 8px 20px;
    list-style-type: none;
}

.header__search-option-items:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-items:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
}
.header__search-option-items:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-items span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 8px;
}

.header__search-option-items i {
    font-size: 1.2rem;
    color: var(--primary-color);
    display: none;
}

.header__search-option-items--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #aaa;
    border-radius: 3px;
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar);
    background-color: var(--white-color);
    display: flex;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
    list-style-type: none;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar);
    text-align: center;
    position: relative;
}

.header__sort-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::after {
    display: none;
}


/* App container */
.app__content {
    padding-top: 36px;
}

.app__container {
    background-color: #f5f5f5;
    /* background-color: rgb(245 245 245 / 1); */
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 16px 16px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 0;
}

.category__heading-icon {
    font-size: 1.6rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    margin-left: 12px;
}

.category-item {
    list-style: none;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    left: 4px;
    position: absolute;
    border: 4px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
    transition: right linear 0.2s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Sort + filter */
.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    padding: 22px 12px;
    display: flex;
    align-items: center;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
}


.home-filter__page {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.home-filter__page-num {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eeeeee;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-control-icon {
    color: #cccccc;
}

.home-filter__page-control-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555555;
}

/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 20px 0px;
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    /* background-repeat: no-repeat; */
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px;
    /* Cho tên hiện ... khi dài */
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-sale {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 6px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #f63d30;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand {

}

.home-product-item__location {

}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favorite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favorite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 4px;
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 34px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.95);
    padding: 2px 0;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    border-width: 0 20px 8px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.95) transparent rgba(255, 216, 64, 0.95);
}

.home-product-item__sale-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.home-product-item__sale-label {
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.app__container__pagination {
    margin: 48px 0 32px;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 20px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding: 0;
    list-style-type: none;
}

.footer-item__link {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #737373;
    text-decoration: none;
    padding: 6px 0;

}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -2px 8px 0 0;
}

.footer__download {
    display: flex;
    align-items: center;
}

.footer__qr-link {
    text-decoration: none;
    color: transparent;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 16px;
}

.footer__qr-download-img {
    height: 20px;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 24px 0;
}

.footer-text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
}